@model NexusMarketing.Models.tbl_admin
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(x => x.ad_name, new { @class = "form-control", @placeholder = "Enter Name" })
    @Html.PasswordFor(x => x.ad_password, new { @class = "form-control", @placeholder = "Enter Password" })

    <input type="submit" value="Login" name="login" class="btn btn-success" />


}

